@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Variables */

$font-main: 'Roboto',
sans-serif;
$d-red: #9e0f1f;
$white: #FEFFFE;
$red: #E54B4B;
$d-grey: #45050C;
$grey: #e6e8e6;

/* Transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

