
@import '_global.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $font-main
}

body {
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wellcome-screen {
    .content-container {
        margin-left: 10%;
        min-width: 615px;
        width: 40%;
        h1 {
            padding: 15px;
            background: $d-red;
            margin-bottom: 5px;
            color: $white;
            width: 30%;
            border-radius: 2px;
        }
        h3 {
            padding: 25px;
            background: $white;
            margin-bottom: 5px;
            color: $d-grey;
            text-align: justify;
            opacity: 0.9;
            border-radius: 2px;
        }
        .container {
            width: 100%;
            height: auto;
            justify-content: flex-end;
            border-radius: 2px;
            .btn-dred {
                padding: 20px;
                background: $d-red;
                color: $white;
                border-radius: 2px;
                transition: all 0.2s;
                &:hover {
                    background: $red;
                }
            }
        }
    }
}

#wellcome-screen {
    background-image: url(../media/images/sebastian-pichler-25154-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#menu {
    right: 5%;
    top: 5%;
    position: absolute;
    z-index: 1;
    .menu-list {
        height: auto;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        background: rgba(0,0,0,0.1);
        border-radius: 2px;
        li {
            padding: 15px;
            text-align: center;
            color: white;
            transition: color 0.5s;
            &:hover, &.active {
                color: $red;
                opacity: 0.9;
            }
            &.active { 
                color: $d-red;
                pointer-events: none;
            }
        }
    }
}

.content {
    width: 100%;
    height: 100vh;
    background: white;
    transform: translateY(100vh);
}